<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WaterDrone</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="styles.css" />
    <!-- Import Vue.js -->
    <script src="components/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="tabs">
      <input type="radio" name="inset" value="" id="tab_1" >
      <label for="tab_1">Панель управления</label>
      <input type="radio" name="inset" value="" id="tab_2" checked>
      <label for="tab_2">Панель сценариев</label>
      
      <div id="control-panel">
        <control-panel></control-panel>
      </div>
      <div id="scripts-panel">
        <scripts-panel></scripts-panel>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>
    <!-- Import Components -->
    <script src="components/control.js"></script>
    <script src="components/scripts.js"></script>
    <script src="components/axios.min.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
