.button {
    font-size: 3em;
    width: 100%;
    height: 100%;
}
.button2 {
    font-size: 1em;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}
.main {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
}
.panel_contol {
    display: flex;
}
.triggers {
    display: flex;
    justify-content: space-between;
    font-size: 140%;
}

.table {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(239, 239, 239);
}

.control {
    display: flex;

    width: 100%;
    flex-direction: row;
}
.buttons {
    display: flex;

    width: 70%;
    align-items: center;
    flex-direction: row;
}
.left {
    display: flex;

    width: 30%;
    height: 100%;
    justify-content: center;
}
.center {
    display: flex;

    width: 40%;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}
.right {
    display: flex;

    width: 30%;
    height: 100%;
    justify-content: center;
}
.speed {
    display: flex;

    width: 30%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}
.panel_scripts {
    display: flex;
    flex-direction: column;

}
.buttons_scripts {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.panel_scripts>div {
    border: 2px solid black;
    margin: 10px;
}
.script_column {
    display: flex;
    flex-direction: row;
}
.scripts {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-right: 5px;
    border-right: 2px solid black;

}


/* Script Panel Styles*/

.logs {
    background: #000000;
    /* width: 100%; */
    /* height: 100px; */
    color: white;
    padding: 0.3em;
}

.logs-textarea {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.editor {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.scripts>input {
    background-color: rgb(183, 238, 183);
    font-size: 1em;
    border-right: 2px solid black;

}
.scripts>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    /* color: #666666; */
    /* border: 1px solid #C0C0C0; */
    background: #d5ee8f;
    cursor: pointer;
}

.new_script {
    padding: 5px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}



/* Tabs Styles */

.tabs { width: 100%; padding: 0px; margin: 0 auto; }
.tabs>input { display: none; }
.tabs>div {
    display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}
#tab_1:checked ~ #control-panel,
#tab_2:checked ~ #scripts-panel { display: block; }