[Unit]
Description=Frontend service for waterDrone
After=network.target

[Service]
User=root
WorkingDirectory=/opt/waterDrone/src/modules/frontend
ExecStart=/opt/waterDrone/src/modules/frontend/frontend_run.py 192.168.10.1 5001 5000
Restart=always

[Install]
WantedBy=multi-user.target